@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.wave-gradient {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 90%,
      rgba(38, 38, 38, 1) 90%,
      /* Blackish overlay to enhance the gradient effect */ rgba(38, 38, 38, 1)
        100%
    ),
    radial-gradient(
      circle at bottom,
      rgba(38, 38, 38, 0.5) 10%,
      rgba(38, 38, 38, 0.8) 50%,
      rgba(0, 0, 0, 1) 100%
    );
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
